.front {
  width: 500px;
  height: 200px;
  background-color: #333;
  color: #fff;
  font-size: 60px;
  margin: 20px;
  border-Radius: 4px;
  text-Align: center;
  padding: 100px;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.56);
}

.back {
  width: 500px;
  height: 200px;
  background-color: #333;
  font-size: 60px;
  margin: 20px;
  border-Radius: 4px;
  text-Align: center;
  padding: 100px;
  background: rgba(255, 255, 255, 0.44);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.56);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button{
  background-color: #333;
  color:#fff
}